*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
/.idea/kotlinc.xml
/.gitignore
/app/note.txt
/app/note.txt.bak
/app/nike_booth.txt
/app/booth.txt
/app/mqtt_note.txt
/app/kaadas
/app/bugly
/app/build
/Core/build
/keep_alive/build
/linphoneLibrary/build/
/tmpmob/ShareSDK/assets/
/imagepicker/build/
/rxeasyhttp
/Store
/.idea/
