<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaadas.lock.shulan">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />



    <application>
        <service android:name=".service.SLLocalService"
            android:exported="true"
            android:label="@string/sllocal_service_name"
            android:process=":sllocal"></service>

        <service android:name=".service.SLRemoteService"
            android:exported="true"
            android:label="@string/slremote_service_name"
            ></service>
        <!--android:process=":slremote"-->
        <receiver android:name=".receive.NotificationClickReceiver">
            <intent-filter>
                <action android:name="CLICK_NOTIFICATION"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".onepx.OnePixelActivity"></activity>

        <service android:name=".service.JobHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>
    </application>
</manifest>